<div [ngClass]="cssClass" browserDetails="browserDetails" class="browser-details-list">
    <ng-container *ngIf="browserDetails.indexOf('version')>-1">
        <span class="text">Build: {{ browser.version }}</span>
        <ng-container *ngIf="(browserDetails.indexOf('version')>-1) && ( browserDetails.indexOf('name')>-1 || browserDetails.indexOf('os')>-1)">
            <span class="separator">&#124;</span>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="browserDetails.indexOf('name')>-1">
        <span class="text">{{ browser.name | titlecase }}</span>
        <ng-container *ngIf="browserDetails.indexOf('os')>-1">
            <span class="separator">on</span>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="browserDetails.indexOf('os')>-1">
        <span class="text">{{ browser.os }}</span>
    </ng-container>
</div>
